* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  height: 580px;
  /* border-image: fill 0 linear-gradient(#0003, #000); */
  background-size: cover;
}
p {
  /* font-size: 18px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.readmore {
  max-height: calc(1.2em * 4);
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-height: 100px; */
}
.intro {
  max-height: 365px;
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card {
  overflow: hidden; /* Hide overflow to prevent content from leaking out */
  position: relative; /* Ensure the container is positioned relative for absolute positioning inside */
  border: none;
}

.card img {
  transition: transform 0.3s ease;
  border-radius: 7px; /* Smooth transition for the transform effect */
}

.card:hover img {
  transform: scale(1.1);
  /* Zoom the image to 120% of its original size on hover */
}

/* .animate__heartBeat {
  animation-duration: 2s;
  animation-delay: 2s;
} */

.gototop {
  position: fixed;
  top: 90%;
  left: 94%;
  z-index: 9999;
  /* height: 50px;
  width: 50px;
  background-color: antiquewhite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.viewmore {
  background-color: #0d6efd;
  color: white;
  padding: 9px 0.75rem;
  text-decoration: none;
  border-radius: 5px;
}
